# Import Libraries

In [1]:
import os

cwd = os.getcwd()  # Get the current working directory (cwd)
files = os.listdir(cwd)  # Get all the files in that directory
print("Files in %r: %s" % (cwd, files))

Files in 'C:\\Users\\USER\\Jupyter Stuff': ['.ipynb_checkpoints', '201701.xlsx', '201702.xlsx', '201703.xlsx', '201704.xlsx', '201705.xlsx', '201706.xlsx', '201707.xlsx', '201708.xlsx', '201709.xlsx', '201710.xlsx', '201711.xlsx', '201712.xlsx', '201801.xlsx', '201802.xlsx', '201803.xlsx', '201804.xlsx', '201805.xlsx', '201806.xlsx', '201807.xlsx', '201808.xlsx', '201809.xlsx', '201810.xlsx', '201811.xlsx', '201812.xlsx', '201901.xlsx', '201902.xlsx', '201903.xlsx', '201904.xlsx', '201905.xlsx', '201906.xlsx', '201907.xlsx', '201908.xlsx', '201909.xlsx', '201910.xlsx', '201911.xlsx', '201912.xlsx', '202001.xlsx', '202002.xlsx', '202003.xlsx', '202004.xlsx', '202005.xlsx', '202006.xlsx', '202007.xlsx', '202008.xlsx', '202009.xlsx', '202010.xlsx', '202011.xlsx', '202012.xlsx', '202101.xlsx', '202102.xlsx', '202103.xlsx', '202104.xlsx', '202105.xlsx', '202106.xlsx', '202107.xlsx', '202108.xlsx', '202109.xlsx', '202110.xlsx', '202111.xlsx', '202112.xlsx', '202201.xlsx', '202202.xlsx', '202203.xlsx', '202204.xlsx', '202205.xlsx', '202206.xlsx', '202207.xlsx', '202209.xlsx', '202210.xlsx', 'CDB_2021_1.ipynb', 'concat_2017.xlsx', 'concat_2018.xlsx', 'concat_2019.xlsx', 'concat_2020.xlsx', 'concat_2021.xlsx', 'count_buy_2018.xlsx', 'count_buy_2019.xlsx', 'count_buy_2020.xlsx', 'count_buy_2021.xlsx', 'Predictive Analytics', 'Untitled.ipynb']

In [2]:
import pandas as pd

# Gabungin Data Per Tahun

*Tahun 2017*

In [3]:
tahun2017_01 = pd.read_excel("201701.xlsx")
tahun2017_02 = pd.read_excel("201702.xlsx")
tahun2017_03 = pd.read_excel("201703.xlsx")
tahun2017_04 = pd.read_excel("201704.xlsx")
tahun2017_05 = pd.read_excel("201705.xlsx")
tahun2017_06 = pd.read_excel("201706.xlsx")
tahun2017_07 = pd.read_excel("201707.xlsx")
tahun2017_08 = pd.read_excel("201708.xlsx")
tahun2017_09 = pd.read_excel("201709.xlsx")
tahun2017_10 = pd.read_excel("201710.xlsx")
tahun2017_11 = pd.read_excel("201711.xlsx")
tahun2017_12 = pd.read_excel("201712.xlsx")

In [4]:
concat_2017 = pd.concat([tahun2017_01,
                         tahun2017_02,
                         tahun2017_03,
                         tahun2017_04,
                         tahun2017_05,
                         tahun2017_06,
                         tahun2017_07,
                         tahun2017_08,
                         tahun2017_09,
                         tahun2017_10,
                         tahun2017_11,
                         tahun2017_12],
                       ignore_index=True,
                       sort= False)

In [8]:
concat_2017.to_excel("concat_2017.xlsx")

*Tahun 2018*

In [9]:
tahun2018_01 = pd.read_excel("201801.xlsx")
tahun2018_02 = pd.read_excel("201802.xlsx")
tahun2018_03 = pd.read_excel("201803.xlsx")
tahun2018_04 = pd.read_excel("201804.xlsx")
tahun2018_05 = pd.read_excel("201805.xlsx")
tahun2018_06 = pd.read_excel("201806.xlsx")
tahun2018_07 = pd.read_excel("201807.xlsx")
tahun2018_08 = pd.read_excel("201808.xlsx")
tahun2018_09 = pd.read_excel("201809.xlsx")
tahun2018_10 = pd.read_excel("201810.xlsx")
tahun2018_11 = pd.read_excel("201811.xlsx")
tahun2018_12 = pd.read_excel("201812.xlsx")

In [10]:
concat_2018 = pd.concat([tahun2018_01,
                         tahun2018_02,
                         tahun2018_03,
                         tahun2018_04,
                         tahun2018_05,
                         tahun2018_06,
                         tahun2018_07,
                         tahun2018_08,
                         tahun2018_09,
                         tahun2018_10,
                         tahun2018_11,
                         tahun2018_12],
                       ignore_index=True,
                       sort= False)

In [11]:
concat_2018.to_excel("concat_2018.xlsx")

*Tahun 2019*

In [12]:
tahun2019_01 = pd.read_excel("201901.xlsx")
tahun2019_02 = pd.read_excel("201902.xlsx")
tahun2019_03 = pd.read_excel("201903.xlsx")
tahun2019_04 = pd.read_excel("201904.xlsx")
tahun2019_05 = pd.read_excel("201905.xlsx")
tahun2019_06 = pd.read_excel("201906.xlsx")
tahun2019_07 = pd.read_excel("201907.xlsx")
tahun2019_08 = pd.read_excel("201908.xlsx")
tahun2019_09 = pd.read_excel("201909.xlsx")
tahun2019_10 = pd.read_excel("201910.xlsx")
tahun2019_11 = pd.read_excel("201911.xlsx")
tahun2019_12 = pd.read_excel("201912.xlsx")

In [13]:
concat_2019 = pd.concat([tahun2019_01,
                         tahun2019_02,
                         tahun2019_03,
                         tahun2019_04,
                         tahun2019_05,
                         tahun2019_06,
                         tahun2019_07,
                         tahun2019_08,
                         tahun2019_09,
                         tahun2019_10,
                         tahun2019_11,
                         tahun2019_12],
                       ignore_index=True,
                       sort= False)

In [14]:
concat_2019.to_excel("concat_2019.xlsx")

*Tahun 2020*

In [15]:
tahun2020_01 = pd.read_excel("202001.xlsx")
tahun2020_02 = pd.read_excel("202002.xlsx")
tahun2020_03 = pd.read_excel("202003.xlsx")
tahun2020_04 = pd.read_excel("202004.xlsx")
tahun2020_05 = pd.read_excel("202005.xlsx")
tahun2020_06 = pd.read_excel("202006.xlsx")
tahun2020_07 = pd.read_excel("202007.xlsx")
tahun2020_08 = pd.read_excel("202008.xlsx")
tahun2020_09 = pd.read_excel("202009.xlsx")
tahun2020_10 = pd.read_excel("202010.xlsx")
tahun2020_11 = pd.read_excel("202011.xlsx")
tahun2020_12 = pd.read_excel("202012.xlsx")

In [16]:
concat_2020 = pd.concat([tahun2020_01,
                         tahun2020_02,
                         tahun2020_03,
                         tahun2020_04,
                         tahun2020_05,
                         tahun2020_06,
                         tahun2020_07,
                         tahun2020_08,
                         tahun2020_09,
                         tahun2020_10,
                         tahun2020_11,
                         tahun2020_12],
                       ignore_index=True,
                       sort= False)

In [17]:
concat_2020.to_excel("concat_2020.xlsx")

*Tahun 2021*

In [18]:
tahun2021_01 = pd.read_excel("202101.xlsx")
tahun2021_02 = pd.read_excel("202102.xlsx")
tahun2021_03 = pd.read_excel("202103.xlsx")
tahun2021_04 = pd.read_excel("202104.xlsx")
tahun2021_05 = pd.read_excel("202105.xlsx")
tahun2021_06 = pd.read_excel("202106.xlsx")
tahun2021_07 = pd.read_excel("202107.xlsx")
tahun2021_08 = pd.read_excel("202108.xlsx")
tahun2021_09 = pd.read_excel("202109.xlsx")
tahun2021_10 = pd.read_excel("202110.xlsx")
tahun2021_11 = pd.read_excel("202111.xlsx")
tahun2021_12 = pd.read_excel("202112.xlsx")

In [19]:
concat_2021 = pd.concat([tahun2021_01,
                         tahun2021_02,
                         tahun2021_03,
                         tahun2021_04,
                         tahun2021_05,
                         tahun2021_06,
                         tahun2021_07,
                         tahun2021_08,
                         tahun2021_09,
                         tahun2021_10,
                         tahun2021_11,
                         tahun2021_12],
                       ignore_index=True,
                       sort= False)

In [20]:
concat_2021.to_excel("concat_2021.xlsx")

# Filter Unique "NAMA" dan "TGL_LAHIR"

In [4]:
concat_2017 = pd.read_excel("concat_2017.xlsx")
concat_2018 = pd.read_excel("concat_2018.xlsx")
concat_2019 = pd.read_excel("concat_2019.xlsx")
concat_2020 = pd.read_excel("concat_2020.xlsx")
concat_2021 = pd.read_excel("concat_2021.xlsx")

In [5]:
concat_2018 = pd.read_excel("concat_2018.xlsx")

In [22]:
count_buy_2018 = concat_2018[['NAMA','TGL_LAHIR']].value_counts()

In [24]:
count_buy_2018.to_excel('count_buy_2018.xlsx')

In [25]:
concat_2019 = pd.read_excel("concat_2019.xlsx")
concat_2020 = pd.read_excel("concat_2020.xlsx")
concat_2021 = pd.read_excel("concat_2021.xlsx")

In [28]:
count_buy_2019 = concat_2019[['NAMA','TGL_LAHIR']].value_counts()
count_buy_2020 = concat_2020[['NAMA','TGL_LAHIR']].value_counts()
count_buy_2021 = concat_2021[['NAMA','TGL_LAHIR']].value_counts()

In [29]:
count_buy_2019.to_excel('count_buy_2019.xlsx')
count_buy_2020.to_excel('count_buy_2020.xlsx')
count_buy_2021.to_excel('count_buy_2021.xlsx')

In [31]:
print(count_buy_2019)

NAMA                         TGL_LAHIR
PT. MITRA BISNIS MADANI      2016-02-04    298
                             2016-05-03    227
CV. 3RSP GEMILANG            2018-01-30    154
PT. MITRA BISNIS MADANI      2016-01-26    149
PT. MANDIRI CIPTA SEJAHTERA  2015-01-12    147
                                          ...
HAIDAR                       1979-05-16      1
HAIDAR  AINURRAHMAN          1998-07-26      1
HAIDAR ABDUSSYAKUR           1998-09-11      1
HAIDAR AL FARISY ANFA        2002-03-20      1
yeyen kurniati               1980-01-20      1
Length: 717951, dtype: int64

# Cleansing Data Filter

*Tahun 2018*

In [38]:
clean_buy_2018 = pd.read_excel("count_buy_2018.xlsx")

In [50]:
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("PT") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("CV") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("PEMERINTAH") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("KOPERASI") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("DINAS") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("PD") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("YAYASAN") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("UNIVERSITAS") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("INSTITUT") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("KOP") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("BANK") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("PERKUMPULAN") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("CONSORTIUM") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("BANDUNG") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("SUMEDANG") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("BADAN") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("KSU") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("FAKULTAS") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("PUSAT") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("KSP") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("PINJAM") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("GARUT") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("BOGOR") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("CIANJUR") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("SUBANG") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("KARAWANG") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("TASIKMALAYA") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("INDRAMAYU") == False]
clean_buy_2018 = clean_buy_2018[clean_buy_2018["NAMA"].str.contains("KANTOR") == False]
clean_buy_2018

                         NAMA  TGL_LAHIR  COUNT
6               AGUS PRASTYIO 1987-07-30    105
10             DEDDY ISKANDAR 1982-01-15     75
16             MOHAMMAD HUSEN 1969-06-07     59
30      POEY SUPYADI SOEMANTA 1958-06-21     39
32             WIRAHA GURSIDI 1983-01-10     37
...                       ...        ...    ...
679425          HAERUN NISA H 1976-04-02      1
679426     HAERUN NUR KHOIRUN 1989-08-13      1
679427        HAERUNI NURNISA 1992-09-25      1
679428              HAERUNISA 1989-08-16      1
679429                 saodah 1988-11-24      1

[434123 rows x 3 columns]

In [51]:
df.to_excel("clean_buy_2018.xlsx")

*Tahun 2019*

In [41]:
clean_buy_2019 = pd.read_excel("count_buy_2019.xlsx")

In [52]:
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("PT") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("CV") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("PEMERINTAH") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("KOPERASI") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("DINAS") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("PD") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("YAYASAN") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("UNIVERSITAS") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("INSTITUT") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("KOP") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("BANK") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("PERKUMPULAN") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("CONSORTIUM") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("BANDUNG") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("SUMEDANG") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("BADAN") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("KSU") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("FAKULTAS") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("PUSAT") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("KSP") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("PINJAM") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("GARUT") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("BOGOR") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("CIANJUR") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("SUBANG") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("KARAWANG") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("TASIKMALAYA") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("INDRAMAYU") == False]
clean_buy_2019 = clean_buy_2019[clean_buy_2019["NAMA"].str.contains("KANTOR") == False]
clean_buy_2019

                         NAMA  TGL_LAHIR  COUNT
14            IMELDA MURSIMAH 1992-03-08     77
15             UDIN SARIPUDIN 1975-03-12     76
28                    RIDWAN  1988-06-14     44
35               DENI BAHTIAR 1996-09-21     40
41               ADAM KUNCORO 1985-02-19     32
...                       ...        ...    ...
717946                HAIDAR  1979-05-16      1
717947    HAIDAR  AINURRAHMAN 1998-07-26      1
717948     HAIDAR ABDUSSYAKUR 1998-09-11      1
717949  HAIDAR AL FARISY ANFA 2002-03-20      1
717950         yeyen kurniati 1980-01-20      1

[490331 rows x 3 columns]

In [53]:
clean_buy_2019.to_excel("clean_buy_2019.xlsx")

*Tahun 2020*

In [44]:
clean_buy_2020 = pd.read_excel("count_buy_2020.xlsx")

In [54]:
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("PT") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("CV") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("PEMERINTAH") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("KOPERASI") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("DINAS") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("PD") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("YAYASAN") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("UNIVERSITAS") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("INSTITUT") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("KOP") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("BANK") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("PERKUMPULAN") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("CONSORTIUM") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("BANDUNG") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("SUMEDANG") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("BADAN") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("KSU") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("FAKULTAS") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("PUSAT") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("KSP") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("PINJAM") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("GARUT") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("BOGOR") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("CIANJUR") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("SUBANG") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("KARAWANG") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("TASIKMALAYA") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("INDRAMAYU") == False]
clean_buy_2020 = clean_buy_2020[clean_buy_2020["NAMA"].str.contains("KANTOR") == False]
clean_buy_2020

                        NAMA            TGL_LAHIR  COUNT
52             DEDE SULAIMAN  1987-12-25 00:00:00     28
59                 MINTARJA   1976-05-10 00:00:00     24
60      REGA MAULANA FIRDAUS  1995-06-26 00:00:00     23
73          DIAN CAHYA UTAMI  1999-05-03 00:00:00     18
76                 MUHLISIN   1975-11-05 00:00:00     18
...                      ...                  ...    ...
469871                HAFID   1995-12-02 00:00:00      1
469872     HAFIATUL ALFARIZI  1998-02-25 00:00:00      1
469873  HAFFIN  FIRANA HATIA  2001-10-20 00:00:00      1
469874     HAFFID ARINANDIKA  2001-08-23 00:00:00      1
469875  ZWANDHIKA FERNANDA    1986-03-13 00:00:00      1

[330074 rows x 3 columns]

In [55]:
clean_buy_2020.to_excel("clean_buy_2020.xlsx")

*Tahun 2021*

In [47]:
clean_buy_2021 = pd.read_excel("count_buy_2021.xlsx")

In [56]:
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("PT") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("CV") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("PEMERINTAH") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("KOPERASI") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("DINAS") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("PD") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("YAYASAN") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("UNIVERSITAS") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("INSTITUT") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("KOP") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("BANK") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("PERKUMPULAN") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("CONSORTIUM") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("BANDUNG") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("SUMEDANG") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("BADAN") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("KSU") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("FAKULTAS") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("PUSAT") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("KSP") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("PINJAM") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("GARUT") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("BOGOR") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("CIANJUR") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("SUBANG") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("KARAWANG") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("TASIKMALAYA") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("INDRAMAYU") == False]
clean_buy_2021 = clean_buy_2021[clean_buy_2021["NAMA"].str.contains("KANTOR") == False]
clean_buy_2021

                              NAMA            TGL_LAHIR  COUNT
14                     PUJI RAHAYU  1993-08-02 00:00:00     60
17                       MINTARJA   1976-05-10 00:00:00     53
31                          BULOG   2003-12-11 00:00:00     38
36                SITI NURFARIDAH   1976-03-26 00:00:00     32
43            REGA MAULANA FIRDAUS  1995-06-26 00:00:00     28
...                            ...                  ...    ...
633251        HAIKAL ALTAF FIRDAUS  2002-09-18 00:00:00      1
633252        HAIKAL ANNISA, ,S.SI  1994-12-24 00:00:00      1
633253        HAIKAL ATTAR SETIAJI  2003-02-07 00:00:00      1
633254                HAIKAL AZHAR  2002-05-14 00:00:00      1
633255  ZYALFA EGA PUTRI GUNAWAN    1997-06-08 00:00:00      1

[435075 rows x 3 columns]

In [57]:
clean_buy_2021.to_excel("clean_buy_2021.xlsx")